extends layout

block content
  h1= title
<<<<<<< HEAD
  p Welcome to the #{title}
  <button type = "button" class = "btn btn-secondary"> Press Me</button>
=======
  p Welcome to #{title} <br>
    button(type='button',class='btn btn-warning' onClick="doBump()") Press Me
    div(id="bump") Bump the count
    script.
      let count =0
      let bump=1
      function doBump(){
        count=bump 
        bump=bump+1 
        document.getElementById('bump').innerHTML=`count ${count} with bump ${bump}`

      }
>>>>>>> 5cd7b7939b10324a344a5444ded45c0b52fc3527
